<!DOCTYPE html>
<html>
  <body>
    <h1>Transcription Upload</h1>
    <form method="POST" action="/" enctype="multipart/form-data">
      <input type="file" name="file" accept=".wav, .mp3">
      <br><br>
      <input type="submit" value="Upload and Transcribe">
    </form>
    
    <br>
    <h2>Clean Transcript:</h2>
    <textarea rows="10" cols="50" id="clean_transcript" readonly>{{ clean_transcript }}</textarea>
    
    <script>
      // Update the clean transcript textarea with the response from the server
      var cleanTranscriptTextarea = document.getElementById('clean_transcript');
      cleanTranscriptTextarea.value = `{{ clean_transcript|safe }}`;
    </script>
  </body>
</html>
